$social-tags: '';
$brand-small-icon-size: 20px;

$gray-1: #e6e6e6;
$gray-2: #a9a9a9;
$gray-3: #797979;
$gray-4: #515151;

$brand-blue: rgb(67, 135, 253);
$brand-blue-secondary: #3c8ef3;
$brand-blue-secondary2: #2a7cdf;

$brand-red: rgb(244, 74, 63);
$brand-red-secondary: #e0543e;
$brand-red-secondary2: #d94d3a;

$brand-yellow: rgb(255, 209, 77);
$brand-yellow-secondary: #f9cc46;
$brand-yellow-secondary2: #f6c000;

$brand-green: rgb(13, 168, 97);
$brand-green-secondary: #00a86d;
$brand-green-secondary2: #009f5d;

$slide-width: 900px;
$slide-height: 700px;
$slide-width-widescreen: 1100px;
$slide-top-bottom-padding: 40px;
$slide-left-right-padding: 60px;
$slide-border-radius: 5px;

$slide-tap-area-width: 100px;

$article-content-top-padding: 17px;

$title-blue: #00467F;
$title-grey: #505050;

$PMS355: #009A3D;
$PMS300: #0079C1;
$PMS2613: #6C207E;
$PMS1797: #E31B23;
$PMS144: #F8971D;
$PMS118: #FFD200;
$PMS355Tint: #59BD81;
$PMS300Tint: #59A7D7;
$PMS2613Tint: #9F6FAA;
$PMS1797Tint: #ED6B70;
$PMS144Tint: #FABB6B;
$PMS118Tint: #FFE159;
$PMS355Tint2: #B3E0C5;
$PMS300Tint2: #B3D6ED;
$PMS2613Tint2: #D3BCD8;
$PMS1797Tint2: #F39B9D;
$PMS144Tint2: #FDE0BB;
$PMS118Tint2: #FFF1B3;
$G1: #7F7F7F;
$G2: #D9D9D9;
$G3: #F2F2F2;
$FONTGREY: #4F4E50;
$DEFAULTGREY: #868686;
