@import "variables";

slides > slide {

  &.title-slide {
    hgroup {
      [data-config-presenter] {
        font-size: 18px;
        line-height: 1.5;
      }
      p {
        font-size: 15px;
        margin-top: 2.5em;
        text-align: right;
      }
      p:last-child {
        margin-top: 5px !important;
      }
    }
  }

  &:not(.nobackground) {
    font-family: Arial, sans-serif;

    &::before {
      content: $social-tags;
    }

    article.smallplus {
      p, ul {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0;
      }
      pre {
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0;
      }
    }

    article.smalldoubleplus {
      pre {
        font-size: 5px;
        line-height: 10px;
        letter-spacing: 0;
      }
    }

    .columns-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      -ms-column-count: 3;
      -o-column-count: 3;
      column-count: 3;
    }

    .columns-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -ms-column-count: 2;
      -o-column-count: 2;
      column-count: 2;
    }
  }
}
