/* line 7, ../sass/meetup.scss */
slides > slide.title-slide hgroup [data-config-presenter] {
  font-size: 18px;
  line-height: 1.5;
}
/* line 11, ../sass/meetup.scss */
slides > slide.title-slide hgroup p {
  font-size: 15px;
  margin-top: 2.5em;
  text-align: right;
}
/* line 16, ../sass/meetup.scss */
slides > slide.title-slide hgroup p:last-child {
  margin-top: 5px !important;
}
/* line 23, ../sass/meetup.scss */
slides > slide:not(.nobackground)::before {
  content: "";
}

.columns-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}

.columns-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}